<h1 id="welcome"> Welcome, <%= current_user.username %>! </h1>
<h2>Your Most Recent Tool: <%= most_recent_tool.name %></h2>

  <% current_user.tools.each do |tool| %>
  <ul>
  <li> Tool: <%= tool.name %>, Price:<%= tool.price %>, Quantity:<%= tool.quantity %></li>
  </ul>
  <% end  %>
